.btn {
  padding: 15px 30px;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  text-decoration: none;
  opacity: .8;
  border: solid;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.btn:hover {
  opacity: 1;
}
